backend:
  name: git-gateway
  branch: main # Branch to update (optional; defaults to master)
media_folder: public/img
public_folder: img
collections:
  - name: "pages"
    label: "Pages"
    files:
    - label: "Home"
      name: "home"
      file: "content/home.md"
      fields:
        - { label: "Title", name: "title", widget: "string"}
        - { label: "Publish Date", name: "date", widget: "datetime" }
        - { label: "Body", name: "body", widget: "markdown"}
        - label: 'Cats'
          name: "cats"
          widget: list
          fields:
            - { label: "Name", name: "name", widget: "string"}
            - { label: "Description", name: "description", widget: "text"}
    - label: "Business"
      name: "business"
      file: "content/business.md"
      fields:
        - { label: "Name", name: "name", widget: "string"}
        - { label: "Publish Date", name: "date", widget: "datetime" }
        - { label: "Description", name: "description", widget: "markdown"}
        - { label: "Website URL", name: "url", widget: "string" }
        - { label: "Address", name: "address", widget: "text" }
        # - { label: "Location", name: "location", widget: "map", type: "location" }
