@import url("https://rsms.me/inter/inter.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;
  font-family: Inter;
}

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-xl font-bold;
}

h3 {
  @apply font-bold space-y-4;
}

p {
  @apply text-base text-slate-500 leading-normal mb-6 space-y-4;
}

.page a {
  text-decoration: underline;
}

.button-knockout {
  border-width: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  --border-opacity: 1;
  border-color: #1a202c;
  border-color: rgba(26, 32, 44, var(--border-opacity));
  -webkit-transition-property: background-color, border-color, color, fill,
    stroke;
  transition-property: background-color, border-color, color, fill, stroke;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.button-knockout.selected,
.button-knockout:hover {
  --bg-opacity: 1;
  background-color: #1a202c;
  background-color: rgba(26, 32, 44, var(--bg-opacity));
  color: #fff;
}
